
.App {
  text-align: center;
  background-color:rgb(156, 255, 182);
  width:100%;
  overflow:hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top : 30px;
  height: calc(100vh - 0px);
  overflow-x: hidden;
  width:100%;
}

.PrincipalMenu{
  height:50px;
  width:100vw;
  background-color: rgb(232,232,232);
}

.CustomButtonValidate{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-item:center;
  text-align:center;
  height:35px;
  width:200px;
  background-color:linear-gradient(to left, white, 20%, rgb(186, 255, 193)) ;
  border-radius : 5px;
  font-size:15px;

}


.CustomLabel{
  padding-left:10px;
  text-align:left;
  background-color:rgb(150, 230, 160);
  width:200px;
  height:35px;
  font-size:17px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px -1px 3px 1px rgba(0, 0, 0, 0.6)
}

.CustomInputText{
  margin:0px;
  padding:0px;
  width:200px;
  height:35px;
  font-size:17px;
  padding-left:10px;
  border-radius: 0px 0px 5px 5px;
  border-width:1px 0px 0px 0px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.6)
}

.CustomInputDate{
  margin:0px;
  padding:0px;
  width:200px;
  height:35px;
  font-size:17px;
  padding-left:10px;
  border-radius: 0px 0px 5px 5px;
  border-width:1px 0px 0px 0px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.6);
  position:relative;
}

.CustomPicker{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  text-align:left;
  height:35px;
  width:200px;
  padding-left:10px;
  background-color:white;
  border-radius: 0px 0px 5px 5px;
  border-width:1px 0px 0px 0px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.6);
  font-size:17px;
  color:black;
}


.HomeContainer{
  height:calc(100vh - 80px);
  padding-top:20px;
  padding-bottom:50px;
  font-size:20px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  overflow-y: hidden;
}

.Home2Container{
  background-color:rgb(156, 255, 182);
  position:absolute;
  height:calc(100vh - 80px);
  width:100vw;
  padding-top:20px;
  padding-bottom:50px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  z-index:1000;
}

.BetItemDetail{
  overflow-y:auto;
  height:calc(100vh - 80px);
  position:relative;
}

.CustomButtonValidate{
  width:200px;
  z-index: 50;
}

.BackgroundWindowQuit{
  position:absolute;
  top:0px;
  left:0px;
  width:100vw;
  height:calc(100vh - 80px);
  background-color:rgba(255, 255, 255,0.8);
  z-index:1000;
}



.Popup{
  position:absolute;
  background-color:white;
  box-shadow: 0px 0px 3px 1px rgba(160,160,160,1);
  display:flex;
  flex-direction:column;
  align-items:center;
  top:0px;
  left:0px;
  margin-top:calc(10vh + 40px);
  margin-left:5vw;
  width:90vw;
  height:calc(80vh - 80px);
  z-index:1001;
}


.MyBetContainer{
  overflow-y:auto;
  height:calc(100vh - 80px);
}

.BetItem{
  width:100vw;
  height:90px;
  padding-left:30px;
  padding-right:30px;
  display:flex;
  flex-direction:column;
  align-items:slex-start;
  text-align:center;
  position:relative;
}

.FriendsContainer{
  overflow-y:auto;
  height:calc(100vh - 80px);
  width:100vw;
}

.FriendItem{
  width:100%;
  padding-left: 10px;
  padding-top:5px;
  padding-bottom:5px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-item:center;
  text-align:center;
}
.MyAccountContainer{
  overflow-y:auto;
  height:calc(100vh - 80px);
  width:100vw;
  position:relative;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
